<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/master.css" />
  <link rel="stylesheet" href="css/exam.css" />
  <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css">
  <title>INF02</title>
</head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <div class="hero" id="hero-inf02">
      <h1>EXAM SOLVER - INF02</h1>
      <h2>Darmowa wersja do końca marca</h2>
    </div>
    <main class="content">
        <div class="instruction">
          1. Otwórz stronę <a href="https://egzamin-informatyk.pl/testy-inf02-ee08-sprzet-systemy-sieci/"
            target="_blank">https://egzamin-informatyk.pl/testy-inf02-ee08-sprzet-systemy-sieci/</a> w przeglądarce
          Google Chrome
        </div>
        <div class="instruction">
          2. Na stronie użyj skrótu klawiszowego <span>ctrl</span> + <span>shift</span> + <span>i</span>
        </div>
        <div class="instruction">
          3. Skopiuj za pomocą przycisku a następnie wklej w zakładce KONSOLA poniższy kod
        </div>
        <div class="field">
          <pre>const html = document.querySelector("html"); const dialog = document.createElement("dialog"); dialog.innerHTML = '&lt;h2 &gt; Wpisz swoje dane logowania&lt;/h2 &gt;; &lt;form method="dialog" action="" id="exam-solver-form" &gt;; &lt;input type="email" class="inputer" name="email" required="" placeholder="Email" / &gt;; &lt;input name="pass" class="inputer" type="password" required="" placeholder="Hasło" / &gt;; &lt;a class="dotter" href="https://exam-finisher-inf03.onrender.com/user"&gt;Nie masz konta. Zarejestruj się.&lt;/a&gt; &lt;input type="submit" value="Wykonaj" /&gt; &lt;/form&gt;'; html.appendChild(dialog); dialog.showModal(); const range = document.createRange(); const frag = range.createContextualFragment( ` &lt;style&gt; :root { --main: #2f3237; --second: #fa6c65; } @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"); * { box-sizing: border-box; } dialog[open] { font-family: "Montserrat", sans-serif; border: 3px solid var(--second); border-radius: 10px; display: flex; flex-direction: column; align-items: center; aspect-ratio: 16/9; padding: 40px; height: 50%; background-color: var(--main); overflow-y: scroll; } dialog::backdrop { background: rgba(0, 0, 0, 0.4); } h2 { font-weight: 700; font-size: 40px; color: var(--second); letter-spacing: 2px; } #exam-solver-form { display: flex; flex-direction: column; align-items: center; gap: 20px; } .inputer { font-size: 26px !important; padding: 10px !important; border-radius: 10px !important; border: 1px solid var(--second) !important; color: var(--second) !important; outline: transparent !important; background: transparent !important; } .inputer:nth-child(1) { margin-bottom: 50px; } input[type="submit"] { padding: 10px; font-size: 20px; background: transparent; outline: transparent; border-radius: 12px; border: 1px solid var(--second); color: #fff; cursor: pointer; } input[type="submit"]:hover { color: var(--main); background: var(--second); } .dotter { font-size: 20px; text-decoration: none; color: #fff; border-bottom: 1px solid #fff; } .dotter:hover { color: var(--second); border-color: var(--second); } &lt;/style&gt; ` ); document.querySelector("head").append(frag); const form = document.querySelector("#exam-solver-form"); var email; var pass; form.addEventListener("submit", () => { email = document.querySelector("input[type='email']").value; pass = document.querySelector("input[type='password']").value; function pytanie(numer, tresc) { this.numer = numer; this.tresc = tresc; } const pytania = document.querySelectorAll(".trescE"); const array = []; const zaz = []; var x = 0; for (var i = 0; i < pytania.length; i++) { const tekst = pytania[i].innerText; const numer = tekst.substring(0, tekst.indexOf(".")); const tresc = tekst.substring(tekst.indexOf(".") + 2, tekst.length); const newPytanie = new pytanie(numer, tresc); array.push(newPytanie); } var xj = new XMLHttpRequest(); xj.open("POST", "https://exam-finisher-inf03.onrender.com/inf02/solve", true); xj.setRequestHeader("Content-Type", "application/json"); xj.send(JSON.stringify({ email: email, pass: pass, sesja: array })); xj.onreadystatechange = function () { if (xj.readyState == 4) { var response = xj.responseText; if (response.indexOf("[") == -1) { const ndialog = document.createElement("dialog"); ndialog.innerHTML = "&lt;h2&gt;" + response + '&lt;/h2&gt; &lt;form id="res-dialog" action="" method="dialog"&gt;&lt;input type="submit" value="Wróć do panelu logowania"/&gt;&lt;/form&gt;'; html.appendChild(ndialog); ndialog.showModal(); const form2 = document.querySelector("#res-dialog"); form2.addEventListener("submit", () => { dialog.showModal(); }); } else { var odpowiedzi = JSON.parse(xj.responseText); if (typeof odpowiedzi === "object") { var SesjaOdpowiedzi = document.getElementsByClassName("odpowiedzE"); for (var i = 0; i < SesjaOdpowiedzi.length; i++) { const poprawa = SesjaOdpowiedzi[i].innerText.slice( 4, SesjaOdpowiedzi[i].innerText.lenght ); for (var x = 0; x < odpowiedzi.length; x++) { if (poprawa === odpowiedzi[x]) { const parent = SesjaOdpowiedzi[i]; parent.querySelector("input").checked = true; parent.classList.toggle("odpowiedzEzazn"); zaz.push(parent); } else { console.log(":("); } } } var ileP = parseInt( prompt( "Wybierz ile chcesz zdobyć punktów?(od 0 do 40)(Wynik może różnić się o 1)" ) ); while (ileP > 40 || ileP === undefined || ileP < 0 || isNaN(ileP)) { ileP = parseInt( prompt( "Wybierz ile chcesz zdobyć punktów?(od 0 do 40)(Wynik może różnić sie o 1)" ) ); } var arr = []; var ileB = 40 - ileP; while (arr.length < ileB) { var r = Math.floor(Math.random() * 40) + 1; if (arr.indexOf(r) === -1) arr.push(r); } function compareNumbers(a, b) { return a - b; } const sorted = arr.sort(compareNumbers); for (var z = 0; z < ileB; z++) { const parent = zaz[sorted[z]]; parent.querySelector("input").checked = false; parent.classList.toggle("odpowiedzEzazn"); } } } } }; });</pre>
          <button type="button" onclick="copyCat()" class="icon-clipboard"></button>
          <span id="message" class="unshow">Tekst skopiowany!</span>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>

  </body>
  <script defer>
    function copyCat(){
      var copyText = document.querySelector("pre");
     console.log(copyText.innerText) 
      navigator.clipboard.writeText(copyText.innerText);
      const sb = document.getElementById("message");
      sb.className = "show";
      setTimeout(()=>{ sb.className = sb.className.replace("show", "unshow"); }, 2500);
    }
  </script>
</html>