.content{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.instruction{
    font-weight: 500;
    margin-bottom: 30px;
}

.instruction a{
    color: var(--main-color);
}

.instruction span{
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 3px;
    text-transform: uppercase;
}


.field{
    position: relative;
    width: 530px;
    display: flex;
    flex-direction: row;
}

.field button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--main-color);
}
pre{
    width: 500px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-overflow: clip;
    overflow-x: scroll;
}
.unshow{
    visibility: hidden;
    color: #fff;
}
.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


