@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

:root{
  --main-color: #000;
  --second-color: #fff;
}

body {
  background: var(--main-color);
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

nav{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 64px;
  display: flex;
  background: transparent;
  border: 1px solid var(--second-color);
  border-top: none;
 z-index: 10; 
}


nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  text-decoration: none;
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
}

nav a:hover{
  background: #333;
}

.hero{
  position: relative;
  top: 0;
  left: 0;
  aspect-ratio: 13/6;
  width: 100%;
  background-image: 
  /* top, transparent red */
  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),
  /* your image */
  url(/img/herobg.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero#hero-inf03{
  background-image: 
  /* top, transparent red */
  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),
  /* your image */
  url(/img/inf03.jpg);
}
h1, h2{
  text-align: center;
  font-weight: 400;
}

h1{
  letter-spacing: 20px;
  font-size: 96px;
}

h2{
  font-size: 32px;
}

main{
  width: 100%;
  min-height: 700px;
  background: var(--second-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div .text{
  text-decoration: none;
  color: var(--main-color);
  font-size: 32px;
  margin-bottom: 10px;
}

main div .text:hover{
  text-decoration: underline;
}
.tile{
  display: block;
  width: 500px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: background-position-y 500ms ease-in-out;

}

.tile:hover{
  background-position-y: -5px;
  border: 1px solid var(--color-second);
}

.tile:hover ~ .text{
  color: red;
}

#inf02{
  background-image: url(/img/inf02.jpg);
}

#inf03{
  background-image: url(/img/inf03.jpg);

}

footer{
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
}

footer a{
  color: var(--second-color);
  text-decoration: none;
  font-size: 26px;
}

footer a:hover{
text-decoration: underline;
}