<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam solver - user</title>
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/user.css" />
    <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="hero" id="hero-users">
        <h1>EXAM SOLVER- USER INFO</h1>
        <h2>Darmowa wersja do końca marca</h2>
    </div>
    <main>
        <div class="boxer">
            <h3>SPRAWDŹ KLUCZE</h3>
            <form action="/user/check" method="POST">
                <div class="input-container">
                    <label for="semail">EMAIL</label>
                    <input type="email" class="normal" required name="semail" id="semail">
                </div>
                <input type="submit" value="SPRAWDŹ">
            </form>
            <% if (locals.message) { %>
                <h4>Zostało Ci  <%= message %> kluczy</h4>
            <% } %>
        </div>
        <div class="boxer">
            <h3>DODAJ SIĘ DO POCZEKALNI</h3>
            <form action="/user/add" method="POST">
                <div class="input-container">
                    <label for="email">EMAIL</label>
                    <input type="email" class="normal" required name="email" id="email">
                </div>
                <div class="input-container">
                    <label for="password">PASSWORD</label>
                    <input type="password" class="normal" required name="password" id="password">
                </div>
                <div class="input-container">
                    <label for="credit">KLUCZE</label>
                    <input type="number" class="normal" required name="credit" id="credit">
                </div>
                <input type="submit" value="DODAJ">
            </form>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>

</html>