<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam solver - user</title>
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/user.css" />
    <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css" />
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="hero" id="hero-users">
        <h1>EXAM SOLVER- USER INFO</h1>
        <h2>Darmowa wersja do końca marca</h2>
    </div>
    <main>
        <% if (locals.message) { %>
            <W>Do zapłaty <b> <%= message %> zł </b> BLIKIEM na numer telefonu <b>532 083 973</b>. W tytule przelewu napisz adres email na który zarejestrowałeś konto <br> W zależności od pory dnia w której przyjdzą pieniądze konto będzie aktywne w przeciągu 3h</h3>
            <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>

</html>