<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/master.css" />
    <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css" />
</head>

<body>
    <nav>
        <a href="/inf02">inf02</a>
        <a href="/home">Home</a>
        <a href="/inf03">inf03</a>
    </nav>
    <div class="hero">
        <h1>EXAM SOLVER</h1>
        <h2>Darmowa wersja do końca marca</h2>
    </div>
    <main>
        <div>
            <a href="/inf02" class="text">INF02</a>
            <a href="/inf02" class="tile" id="inf02"></a>
        </div>
        <div>
            <a href="/inf03" class="text">INF03</a>
            <a href="/inf03" class="tile" id="inf03"></a>
        </div>
    </main>
    <div class="info">
        <div class="card">
            <h2>Tylko do 31 marca</h2>
            <div class="img-holder">
                <img src="img/noun-card.png" alt="card-image" class="key">
                <img src="img/noun-card.png" alt="card-image" class="key">
            </div>
            <h3> Egzamin za połowe ceny</h3>
            <h4>TYLKO 50gr</h4>
        </div>
        <a href="mailto:inf.exams@gmail.com?subject=ExamSolver">Wpisz się na liste wysyłając swój adres email, hasło z jakiego będziesz korzystał, numer telefonu<br />oraz liczbe egzaminów które chcesz zakupić. <b>Promocja obowiązuje na maksymalnie 50 egzaminów</b></a>
    </div>
    <footer>
        <a href="mailto:inf.exams@gmail.com?subject=ExamSolver"><i class="icon-mail"></i> kontakt do mnie</a>
    </footer>
    <script src="/js/home.js" defer></script>
    <dialog>
        <div class="card">
            <h2>Tylko do 31 marca</h2>
            <div class="img-holder">
                <img src="img/noun-card.png" alt="card-image" class="key">
                <img src="img/noun-card.png" alt="card-image" class="key">
            </div>
            <h3> Egzamin za połowe ceny</h3>
            <h4>TYLKO 50gr</h4>
            <form action="" method="dialog">
                <button type="button" id="close-button">X</button>
            </form>
        </div>
        <a href="mailto:inf.exams@gmail.com?subject=ExamSolver">Wpisz się na liste wysyłając swój adres email, hasło z jakiego będziesz korzystał, numer telefonu<br />oraz liczbe egzaminów które chcesz zakupić. <b>Promocja obowiązuje na maksymalnie 50 egzaminów</b></a>
    </dialog>
</body>

</html>