<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/master.css" />
    <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css">

</head>
<body>
    <h1>EXAM SOLVER</h1>
    <div class="container">
        <div class="tile" id="inf02">
            <a href="/inf02">
                <span>INF 02</span>
            </a>
        </div>
        <div class="tile" id="inf03">
            <a href="/inf03">
                <span>INF 03</span>
            </a>
        </div>
    </div>
    <footer>
        <a href="mailto:swagjacob0@gmail.com?subject=ExamSolver"><i class="icon-mail"></i> kontakt do mnie</a>
    </footer>
</body>
</html>