<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/master.css" />
    <link rel="stylesheet" href="/css/fontello-46031a8a/css/fontello.css" />
</head>

<body>
    <nav>
        <a href="/inf02">inf02</a>
        <a href="/home">Home</a>
        <a href="/inf03">inf03</a>
    </nav>
    <div class="hero">
        <h1>EXAM SOLVER</h1>
        <h2>Darmowa wersja dopóki nie zrobie weryfikacji</h2>
    </div>
    <main>
        <div>
            <a href="/inf02" class="text">INF02</a>
            <a href="/inf02" class="tile" id="inf02"></a>
        </div>
        <div>
            <a href="/inf03" class="text">INF03</a>
            <a href="/inf03" class="tile" id="inf03"></a>
        </div>
    </main>
    <footer>
        <a href="mailto:swagjacob0@gmail.com?subject=ExamSolver"><i class="icon-mail"></i> kontakt do mnie</a>
    </footer>
</body>

</html>